@import '../../../styles/variables.scss';

.add-button {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > button {
        border: none;
        background-color: $primary-color;
        border-radius: 50%;
        cursor: pointer;
    }
}