@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.login-form {

    &-heading {
        color: $font-color-white;
        @include form-heading;
     }

    &-inputs {

         &-props {
            width:  100%;
            display: flex;
            justify-content: space-between;

            &-forgotten-password {
                color: $font-color-white;
            }
         }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}