@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.edit-task-modal {
    @include modal-container;

    &-content {
        @include modal-content;

        &-loader {
            margin-top: 1vh;
            display: flex;
            justify-content: flex-end;
        }

        &-header {
            display: flex;
            justify-content: space-between;

            & > img {
                cursor: pointer;
            }
        }

        &-body {
            margin-top: 2vh;

            & > input {
                @include modal-input;

                &:focus {
                    outline: none !important;
                }
            }

            & > textarea {
                border: none;
                background-color: $input-grey-color;
                width: 100%;
                box-sizing: border-box;
                padding: 1vh;

                &:focus {
                    outline: none !important;
                }
            }

            &-date {
                margin-top: 1vh;
                width: 100%;

                & > div {

                    & > label {
                        display: none;
                    }
                }

                & > div > input {
                    border: none;
                    background-color: $input-grey-color;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 1vh;

                    &:focus {
                        outline: none !important;
                    }
               }

                & > strong {
                    display: none;
                }
            }
        }

        &-footer {
            margin-top: 1vh;
            display: flex;
            justify-content: flex-end;

            & > button {
                background-color: $primary-color;
                border: none;
                color: $font-color-white;
                padding: 1vh;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .edit-task-modal {
         
        &-content {
            width: 80vw;

            &-body {

                &-date {
                    display: flex;
                    justify-content: space-between;

                    & > div {

                        & > input {
                            position: absolute;
                            left: -999px;
                       }

                       & > label {
                           display: block;
                           font-weight: bold;
                       }
                    }

                    & > strong {
                        display: inline;
                    }
                }
            }
        }
    }
}