@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.signup-form {

    &-heading {
        color: $font-color-white;
        @include form-heading;
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}