@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.signup-form {

    &-heading {
        color: $font-color-white;
        @include form-heading;
    }

    &-inputs {
        margin-bottom: 3vh;
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-link {
        color: $font-color-white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}