@import '../../styles/variables.scss';

.header {
    background-color: $primary-color;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw 1vh 2vw;

    &-profile {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        cursor: pointer;
    }

    &-logo-container {
        font-size: 1.5rem;
        font-weight: bold;
        color: $font-color-white;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &-logout {
        background-color: $font-color-white;
        position: absolute;
        border-style: solid;
        border-width: 0.1rem;
        padding: 1vh;
        width: 5vw;
        right: 2vh;
        cursor: pointer;
        margin-top: 10vh;
    }
}

@media screen and (max-width: 540px) {
    .header {
        height: 7vh;

        &-logo-container > span {
            display: none;
        }

        &-profile {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }
    }
}