@import '../../../styles/variables.scss';

.tasks {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks-fab {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
}